html, body {
    display: block;
    font-family: -apple-system, Geomanist, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #333;
    font-weight: normal;
    font-size: larger;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

:root {
    --gray: #F4F4F3;
    --red: #DC8966;
    --yellow: #F2BE39;
    --salmon: #FFAC84;
    --blue: #60C4D0;
    --graygreen: #85A193;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

p, img, b, h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
}

.block {
    width: 100%;
    box-sizing: border-box;
    padding: 4rem 0;

    :only-child {
        vertical-align: top;
    }

    :first-child {
        padding-top: 0;
    }
}

.block:nth-child(even) {
    background-color: var(--gray);
}

.content {
    max-width: 1140px;
    margin: 0 auto;

    /*
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    */

}

.side-by-side {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column-gap: 40px;
}

.left {
    grid-row: 1;
    grid-column: 1;
}

.right {
    grid-row: 1;
    grid-column: 2;
}

.both {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
}

.footer {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    font-size: large;
}

.video {
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    width: 1140px;
    height: 642px;
    position: relative;
}

.video img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.colored-underline-yellow {
    text-decoration: none;
    border-bottom: 10px solid var(--yellow);
}

.colored-underline-blue {
    text-decoration: none;
    border-bottom: 10px solid var(--blue);
}

.colored-underline-red {
    text-decoration: none;
    border-bottom: 10px solid var(--red);
}

.form-style {
    font-size: large;
    font-weight: bold;
    color: black;
    margin: 12px 0 ;
    width: 540px;
    line-height: 30px;
    height: 40px;
    padding: 0 20px;
}

.form-cb {
    vertical-align: bottom;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    padding: 0;
}

button {
    font-weight: bold;
    font-size: large;
    border-style: unset;
    padding: 10px 20px;
}

.jetzt, .l-button, .r-button {
    background-color: var(--yellow);
    color: black;
}

.l-button {
    background-color: var(--salmon);
    color: white;
}

.r-button {
    background-color: var(--graygreen);
    color: white;
}

.debug {
    border: dashed fuchsia;
}
