html, body {
    display: block;
    font-family: -apple-system, Geomanist, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    color: #333;
    font-weight: normal;
    font-size: larger;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

:root {
    --gray: #F4F4F3;
    --red: #DC8966;
    --yellow: #F2BE39;
    --salmon: #FFAC84;
    --blue: #60C4D0;
    --graygreen: #85A193;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container, .block {
    width: 100%;
    box-sizing: border-box;
}

.block:nth-child(even) {
    background-color: var(--gray);
}

.content {
    max-width: 1140px;
    margin: 0 auto;
}

.footer {
    background-color: var(--blue);
    color: white;
    font-weight: bold;
}

.center {
    text-align: center;
}
